.container {
  max-width: 350px;
  padding: 0rem 21rem;

}

.swiper {
  height: 240px !important;
} 

.swiper-wrapper {
  height: 135px !important;
  width: 176px !important;
  cursor: grab;
  transition-duration: 0ms;
  transform: translate3d(-1464.06px, 0px, 0px);
}

.swiper_container {
  padding: 0rem 0rem !important;
  position: relative;
  width: 290px !important;
  overflow: visible !important;
}

.swiper .swiper-container {
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}

.swiper-3d {
  perspective: 500px !important;
}

.swiper-slide .img {
  width: 350px;
  height: 250px;
  border-radius: 2rem;
  margin-left: 0px;
  object-fit: cover;
}

.img {
  width: 250px !important;
  height: 180px !important;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controller {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-left: 0px;
}

.slider-controller .swiper-button-next {
  left: 64% !important;
  transition: ease-in-out;
}

.swiper-button-prev {
  color: #ba3627 !important;
  transition: ease-in-out;

}
.swiper-button-next {
  color: #ba3627 !important;
  transition: ease-in-out;
}

.slider-controller .slider-arrow-left {
  transition: ease-in-out;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 24%; 
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controller .slider-arrow-right {
  transition: ease-in-out;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controller .slider-arrow::after {
  content: '';
}

.swiper-button-prev:hover {
  transition: .5s ease-in-out;
  transform: scale(1.15);
  color: #ffc847 !important;
}

.swiper-button-next:hover {
  transition: .5s ease-in-out;
  transform: scale(1.15);
  color: #ffc847 !important;
}

.swiper-pagination {
  position: relative;
  z-index: 10 !important;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #274c86;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 10px !important;
  width: 100%;
}

.rating {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23.5 19.22  '><polygon fill='gold' points='10,15.27 16.18,19 14.54,11.97 20,7.24 12.81,6.63 10,0 7.19,6.63 0,7.24 5.46,11.97 3.82,19'/></svg>");
  overflow: hidden;
  height: 21px;
  transform: scale(.9);
  width: 100%;
}

@media only screen and (max-width: 850px) {
  .container {
    display: none;
  }
}