#scroll::-webkit-scrollbar{
    display: none;

}

/* .navigation, *, ::before, ::after {
    box-sizing: content-box !important;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
} */
.navigation, *, ::before, ::after {
    box-sizing: content-box !important;
    /* border-width: 0;
    border-style: solid;
    border-color: #e5e7eb; */

}



.about {
  background-image: url("../public/kratos.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact {
  background-image: url("../public/bgZelda.png");
  background-repeat: no-repeat;
  background-size: cover;

}

.blogs {
  background-image: url("../public/snake.png");
  background-repeat: no-repeat;
  background-size: cover;

}
.brand {
  background-image: url("../public/leon.png");
  background-repeat: no-repeat;
  background-position: bottom;

}

.media {
  background-image: url("../public/chief.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.login {
  background-image: url("../public/GMRBG.png");
  background-repeat: no-repeat;
  background-size: cover;

}

#tiktok {
  width: 390;
  max-width: 670;
}

/* mouse pointer css */

.main-cursor,
.secondary-cursor {
  z-index: 10000;
  pointer-events: none;
  transform: translate3d(0, 0, 0);
  position: fixed;
}

.main-cursor {
  transition: opacity 1s cubic-bezier(0.77, 0, 0.175, 1);
  animation: fadeIn 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
  mix-blend-mode: difference;
  

}

.main-cursor-background {
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  
}

.secondary-cursor {
  width: 60px;
  height: 60px;
}

.cursor-background {
  mix-blend-mode: difference;
  filter: invert(1);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #fff;
  position: relative;
}
.cursor-background::after, 
.cursor-background::before {
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: white;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation: fadeOut 0.75s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
}

.cursor-background::before {
  left: 10px;
}

.cursor-background::after {
  right: 10px;
}


.slider-drag
.cursor-background {
    animation: scaleUp 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards,
    bgUp 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
}

.slider-drag .cursor-background::after {
      animation: fadeIn 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards,
        translateRightDot 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
}

.slider-drag .cursor-background::before {
      animation: fadeIn 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards,
        translateLeftDot 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
}

.slider-drag .main-cursor {
    animation: fadeOut 0.75s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
}
/*  */


/* image hover effect */
.grid {
	/* margin: 40px auto 120px; */
  max-height: 1000px;
	max-width: 1000px;
  height: 90%;
	width: 90%;
}

.grid .linktag {
	float: left;
	max-width: 200px;
  max-height: 224px;
	color: #333; 
}

.grid .linktag:nth-child(odd) {
	margin: 0 0 -25px 0;
}

.grid figure {
	position: relative;
	overflow: hidden;
	margin: 5px;
	background: #333;
}

.grid figure .imgtag {
	position: relative;
	display: block;
  height: 225px;
	width: 100%;
	opacity: 0.7;
	transition: opacity 0.3s;
}

.grid figcaption {
	position: absolute;
	top: 0;
	z-index: 11;
	padding: 10px;
	width: 100%;
	height: 100%;
	text-align: center;
}

.grid figcaption h2 {
	margin: 0 0 20px 0;
	color: #d5433e;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 300;
	font-size: 130%;
	transition: transform 0.5s;
}

.grid figcaption p {
	padding: 10px 20px;
	color: #aaa;
	font-weight: 300;
	transition: opacity 0.3s, transform 0.3s;
}

.grid figcaption h2,
.grid figcaption p {
	transform: translateY(50px);
}

.grid figure button {
	position: absolute;
	padding: 2px 5px;
  margin-top: 10px;
	border: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	transition: opacity 0.3s, transform 0.3s;
}

.grid figcaption,
.grid figcaption h2,
.grid figcaption p,
.grid figure button {
	backface-visibility: hidden;
}

.grid svg {
	position: absolute;
	top: -1px; /* fixes rendering issue in FF */
	z-index: 10;
	width: 100%;
	height: 80%;
}

.grid svg path {
	fill: #fff;

}

.grid:hover path {
    animation: pathEffect 5.5s ease-in-out;
}  


.grid .linktag:hover figure .imgtag {
	opacity: 1;
}

.grid .linktag:hover figcaption h2,
.grid .linktag:hover figcaption p {
	transform: translateY(10px);
}

.grid .linktag:hover figcaption p {
	opacity: 0;
}

.grid figure button {
	top: 50%;
	left: 50%;
	border: 3px solid #fff;
	background: transparent;
	color: #fff;
	opacity: 0;
	transform: translateY(-50%) translateX(-50%) scale(0.25);
}

.grid .linktag:hover figure button {
	opacity: 1;
	transform: translateY(-50%) translateX(-50%) scale(1);

}

@keyframes pathEffect {
  0% {
    transition: ease-in;
    d: path("M 180,160 0,218 0,0 180,0 z");
  }
  50% {
    transition: ease-in;
    d: path("m 180,30.57627 -180,0 L 0,0 180,0 z");
  }
  100% {
    transition: ease;
    d: path("m 180,20.57627 -180,0 L 0,0 180,0 z");
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes bgUp {
  from {
    background-color: transparent;
  }

  to {
    background-color: black;
  }
}

@keyframes bgDown {
  from {
    background-color: black;
  }

  to {
    background-color: transparent;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

@keyframes scaleDown {
  from {
    transform: scale(1.5);
  }

  to {
    transform: scale(1);
  }
}

@keyframes translateLeftDot {
  from {
    transform: translate(20px, -50%);
  }

  to {
    transform: translate(0px, -50%);
  }
}

@keyframes translateRightDot {
  from {
    transform: translate(-20px, -50%);
  }

  to {
    transform: translate(0px, -50%);
  }
}